{% extends 'base.html' %}

{% block content %}


<div class="container">



<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.nba.com%2F.element%2Fmedia%2F2.0%2Fteamsites%2Fbulls%2Fcareer-fair%2F1819%2Fresources%2Fchi-black.png&f=1&nofb=1" width="250" height="230"></center>

<hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Team Selected:</strong></label>
			
			<textarea class="form-control form-control-sm" type="text" value="{{ x.strTeam }}">Chicago Bulls</textarea> 
			
		</center>
	</form>
	<hr><br>
	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Year Formed:</strong></label>
			{% for x in bulls_info.teams%}
				<textarea class="form-control form-control-sm" type="text">{{ x.intFormedYear }}</textarea> 
			{% endfor %}
			
		</center>
	</form>
	<hr><br>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Team Stadium:</strong></label>
			{% for x in bulls_info.teams %}
				<textarea class="form-control form-control-sm" type="text">{{ x.strStadium }}</textarea> 
			{% endfor %}
		</center>
	</form>
	<hr><br>


	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Last 5 Games Played:</strong></label>
			<br><br>
			{% for x in bulls_last.results %}
			{{x.dateEventLocal}}
			<textarea class="form-control form-control-sm" type="text">Home: {{ x.strHomeTeam}} {{ x.intHomeScore }} | Away: {{ x.strAwayTeam }} {{ x.intAwayScore }}</textarea><br>
			{% endfor %}
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Next Game:</strong></label>
			<br>

				{% for x in bulls_next.events %}
				<textarea class="form-control form-control-sm" type="text">{{ x.strEventAlternate }}</textarea> 
				{% endfor %}
				<center><small>{{ notfound }}</small></center>

		</center>
	</form>
	<hr><br>

	<hr>

</div>


{% endblock %}