{% extends 'base2.html' %}

{% block content %}

<div class="container">

<style type="text/css">
	.white {
		color: black;
		font-size: 20px;
	}
	.black {
		color: black;
		font-size: 30px;
	}
	.big {
		color: black;
		font-size: 20px;
	}
	.scores {
		color: black;
		font-size: 12px;
	}
</style>

<br>

<!-- <center><label class="white"><strong>Team Selected:</strong></label></center> -->
<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F0%2F04%2FUtah_Jazz_logo_(2016).svg%2F800px-Utah_Jazz_logo_(2016).svg.png&f=1&nofb=1" width="200" height="130"></center>
<!-- <center><label class="white"><strong>Dallas Mavericks</strong></label></center> -->

<br>

	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">
		  	{% for x in jazz_info.teams %}
		    <div class="card-header text-dark">Year Formed:</div>
		    <p class="card-text big">{{ x.intFormedYear }}</p>
		    {% endfor %}
		</div>
	</div>

	<br>

	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">
		  	{% for x in jazz_info.teams %}
		    <div class="card-header text-dark">Team Stadium:</div>
		    <p class="card-text big">{{ x.strStadium }}</p>
		    {% endfor %}
		</div>
	</div> 


	<br>


	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">

		  <div class="card-header text-dark">Last 5 Games Played:</div>

		  	<div class="card-body text-dark">
			  	{% for x in jazz_last.results %}
			  	
				    <h5 class="card-title">{{x.dateEventLocal}}</h5>
				    <p class="card-text scores">@{{ x.strHomeTeam}} {{ x.intHomeScore }} vs. {{ x.strAwayTeam }} {{ x.intAwayScore }}</p><hr>
				    {% endfor %}

				    					<h5>Next Game(s):</h5>
				    						{% for x in jazz_next.events %}
										 		<p class="card-title scores">{{ x.strEventAlternate }}</p>
											{% endfor %}
											<hr>
											<center><small><p class="text-muted">{{ notfound }}</p></small></center>
																
			</div>				

			    										
		</div>
	</div>
	
	<br>

</div>




{% endblock %}