{% extends 'base.html' %}

{% block content %}

<div class="container">



<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F7%2F76%2FDenver_Nuggets.svg%2F1200px-Denver_Nuggets.svg.png&f=1&nofb=1" width="200" height="200"></center>

<hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label>Team Selected:</label>
			
			<textarea class="form-control form-control-sm" type="text">Denver Nuggets</textarea>
			
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label>Year Formed:</label>
			
			<textarea class="form-control form-control-sm" type="text">1967</textarea>
			
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label>Team Stadium:</label>
			
			<textarea class="form-control form-control-sm" type="text">Pepsi Center</textarea>
			
		</center>
	</form>

	<br><br><hr>



	<form method="POST">
		{% csrf_token %}
		<center>
			<label>Last 5 Games Played:</label>
			<br><br>
			{% for x in nuggets_last.results %}
			{{x.dateEventLocal}}
			<textarea class="form-control form-control-sm" type="text">Home: {{ x.strHomeTeam}} {{ x.intHomeScore }} | Away: {{ x.strAwayTeam }} {{ x.intAwayScore }}</textarea><br>
			{% endfor %}
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label>Next Game:</label>

			{% if notfound %}
					<center><b>{{ notfound }}</b></center>
				{% else %}
					{% for x in nuggets_next.events %}
					<br><br>
					{{ x.dateEventLocal }}
					<textarea class="form-control form-control-sm" type="text">{{ x.strEventAlternate }}</textarea> 
					{% endfor %}
			{% endif %}
		</center>
	</form>
	<hr><br>

	<hr>

</div>


{% endblock %}