{% extends 'base.html' %}

{% block content %}

<div class="container">

<style type="text/css">
	.white {
		color: black;
		font-size: 20px;
	}
</style>

<center><label class="white"><strong>Team Selected:</strong></label></center>
<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F7%2F76%2FDenver_Nuggets.svg%2F1200px-Denver_Nuggets.svg.png&f=1&nofb=1" width="200" height="200"></center>
<center><label class="white"><strong>Denver Nuggets</strong></label></center>

<hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Year Formed:</strong></label>
			
			<textarea class="form-control form-control-sm" type="text">1967</textarea>
			
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Team Stadium:</strong></label>
			
			<textarea class="form-control form-control-sm" type="text">Pepsi Center</textarea>
			
		</center>
	</form>

	<br><br><hr>



	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Last 5 Games Played:</strong></label>
			<br><br>
			{% for x in nuggets_last.results %}
			{{x.dateEventLocal}}
			<textarea class="form-control form-control-sm" type="text">Home: {{ x.strHomeTeam}} {{ x.intHomeScore }} | Away: {{ x.strAwayTeam }} {{ x.intAwayScore }}</textarea><br>
			{% endfor %}
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Next Game(s):</strong></label>

					{% for x in nuggets_next.events %}
					<textarea class="form-control form-control-sm" type="text">{{ x.strEventAlternate }}</textarea> 
					{% endfor %}
					<center><small>{{ notfound }}</small></center>
			
		</center>
	</form>
	<hr><br>

	<hr>

</div>


{% endblock %}