{% extends 'base.html' %}

{% block content %}


<div class="container">



<center><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcontent.sportslogos.net%2Flogos%2F6%2F230%2Ffull%2F9260_houston_rockets-alternate-2020.png&f=1&nofb=1" width="210" height="230"></center>

<hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Team Selected:</strong></label>
			
			<textarea class="form-control form-control-sm" type="text" value="{{ x.strTeam }}">Houston Rockets</textarea> 
			
		</center>
	</form>
	<hr><br>
	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Year Formed:</strong></label>
			{% for x in rockets_info.teams %}
				<textarea class="form-control form-control-sm" type="text">{{ x.strTeam }}</textarea> 
			{% endfor %}
		</center>
	</form>
	<hr><br>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Team Stadium:</strong></label>
			{% for x in rockets_info.teams %}
				<textarea class="form-control form-control-sm" type="text">{{ x.strStadium }}</textarea> 
			{% endfor %}
		</center>
	</form>
	<hr><br>


	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Last 5 Games Played:</strong></label>
			<br><br>
			{% for x in rockets_last.results %}
			{{x.dateEventLocal}}
			<textarea class="form-control form-control-sm" type="text">Home: {{ x.strHomeTeam}} {{ x.intHomeScore }} | Away: {{ x.strAwayTeam }} {{ x.intAwayScore }}</textarea><br>
			{% endfor %}
		</center>
	</form>

	<br><br><hr>

	<form method="POST">
		{% csrf_token %}
		<center>
			<label><strong>Next Game:</strong></label>
			<br>

				{% for x in rockets_next.events %}
				<textarea class="form-control form-control-sm" type="text">{{ x.strEventAlternate }}</textarea> 
				{% endfor %}
				<center><small>{{ notfound }}</small></center>

		</center>
	</form>
	<hr><br>

	<hr>

</div>


{% endblock %}