{% extends 'base2.html' %}

{% block content %}

<div class="container">

<style type="text/css">
	.white {
		color: black;
		font-size: 20px;
	}
	.black {
		color: black;
		font-size: 30px;
	}
	.big {
		color: black;
		font-size: 20px;
	}
	.scores {
		color: black;
		font-size: 12px;
	}
</style>

<!-- <center><label class="white"><strong>Team Selected:</strong></label></center> -->
<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flh6.googleusercontent.com%2Fproxy%2FPZjM6pgFxUlyJxZYHBNVN--oadH5wLAxUdDUgFTySu270THUhIlUhZbPSnOpzJk0OaOvMXOPLJzvpWj3JPcG3H3V8XmKl9R5TA-DvfEnPxdLF0ENZ8fTTfYhvXxi0ZqPE8y6Qsff8Nmpo8EyhpM%3Dw1200-h630-p-k-no-nu&f=1&nofb=1" width="300" height="300"></center>
<!-- <center><label class="white"><strong>Golden State Warriors</strong></label></center> -->


	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">
		  	{% for x in warriors_info.teams %}
		    <div class="card-header text-dark">Year Formed:</div>
		    <p class="card-text big">{{ x.intFormedYear }}</p>
		    {% endfor %}
		</div>
	</div>

	<br>

	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">
		  	{% for x in warriors_info.teams %}
		    <div class="card-header text-dark">Team Stadium:</div>
		    <p class="card-text big">{{ x.strStadium }}</p>
		    {% endfor %}
		</div>
	</div> 


	<br>


	<div class="center">
		<div class="card border-primary" style="max-width: 70rem;">

		  <div class="card-header text-dark">Last 5 Games Played:</div>

		  	<div class="card-body text-dark">
			  	{% for x in warriors_last.results %}
			  	
				    <h5 class="card-title">{{x.dateEventLocal}}</h5>
				    <p class="card-text scores">@{{ x.strHomeTeam}} {{ x.intHomeScore }} vs. {{ x.strAwayTeam }} {{ x.intAwayScore }}</p><hr>
				    {% endfor %}

				    					<h5>Next Game(s):</h5>
				    						{% for x in warriors_next.events %}
										 		<p class="card-title scores">{{ x.strEventAlternate }}</p>
										 	{% endfor %}
										 		<hr>
												<center><small><p class="text-muted">{{ notfound }}</p></small></center>
													
			</div>				

			    										
		</div>
	</div>
	
	<br>

</div>




{% endblock %}